*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.carrito-acciones{
    display: flex;
    gap: 1rem;

}

.btn-incrementar-cantidad,.btn-decrementar-cantidad{
    display: flex;
    font-size: 20px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.btn-decrementar-cantidad:hover, .btn-incrementar-cantidad:hover{

}


