/*fondo oscuro*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0 , 0, 0.3);
    width: 100%;
    height: 100%;
    display: none;
}

.mensajeCarrito{
    background-color: #0f766e;
}

.overlay.activo{
    display: block;
}

.carrito-menu-lateral{
    background-color: #fff;
    width: 300px;
    min-height: 200px;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    transform: translateX(calc(100% + 1rem));   
    transition: transform 0.3s ease;
    border-radius: 8px;
    z-index: 20;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
}

.carrito-menu-lateral.activo{
    transform: translateX(0%);

}

.carrito-contenidoProductos{
    display: flex;
    align-items: end; /* Alinea verticalmente al centro */
    justify-content: start; /* todo el contenido lo coloca al principio de la pantalla */
    gap: 4px; /* Espacio de separación entre el número y el texto */
    padding: 15px;
}


h2{
    text-align: center;
}


.carrito-lista{
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    
}



/* ******************COPIA CSS CARRITO*************** */
/* Padre de 2 div con las clases informacion-proucto y .informacion-botones */
.carrito-producto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.carrito-producto img{
    height: 90px;
    width: 90px;
}

.contenedor-producto{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.informacion-producto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rebeccapurple;
    flex: 1;/*ocupa todo el espacio disponible*/
}

.primera-parte{
    display: flex;
    flex-direction: row;
    background-color: orange;
    justify-content: space-between;
}
.segunda-parte{
    display: flex;
    align-items: center;
    gap: 10px; 
} 

.contenedor-botones{
    display: flex;
    align-items: center;
    gap: 10px;
    
}/*afecta a los botones + y -*/
.contenedor-botones button{
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

/* Alinea el precio y los botones en columna */
.precio-contador-contenedor {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    background-color: forestgreen;
}

.mensaje-carrito{
    text-align: center;        
    color: #ff6b6b;             /* Un color bonito y llamativo (rojo/coral) */
    font-size: 20px;            /* Tamaño de letra grande para destacar */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna */
    font-weight: bold;          /* Texto en negrita */
    
}

.basurero-icono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffcccc; 
    gap: 10px;
}





