*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body{
  background-color: #e4dcdc;
}

.resumen-compras{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d4af37;
}
.contenedor{
  display: flex;
  gap: 4rem;
  width: 85%;
  background-color: #91c867;
  margin: 0 auto;
  margin-top: 80px;
}

.carrito{
  display: flex;
  flex-direction: column;
  gap: 20px;  
  background-color: #0056b3;
}

/*padre de los 4 divs*/
.carrito-item{
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 20px;          
  padding: 12px;
  background-color: #e2d8d8;
  width: 100%;
  height: 180px;
}

/*primer div*/
.producto-imagen {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

/*segundo div*/
.producto-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los datos arriba a la izquierda */
  width: 100%;
}

.marca-producto span, .categoria-producto span {
  color: #444;
}

/*tercer div*/
.producto-precio {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  margin-bottom: 50px;
}

.precio {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 12px;
}

/* Precio original tachado */
.producto-precio > span {
  font-size: 0.875rem;
  color: #9ca3af;
  text-decoration: line-through;/*efecta que tacha con una linea*/
}

.precio-descuento{
  background-color: #ff0000; 
  color: #ffffff;          
  padding: 1px 3px;     
  border-radius: 3px;   
  font-weight: bold;     
}

/*cuarto div*/
.producto-botones {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  margin-top: auto; /* Manda los botones al final del contenedor */
}

.btn:hover {
  background-color: #28a745;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra + intensa */
  transform: translateY(-2px); /* se ve un efecto de que se suben se elevan */
}
.producto-puntitos {
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.producto-botones {
  position: relative;/*Convierte a este elemento en el punto de referencia para que cualquier hijo con posición absoluta se ubique dentro de él*/
  /* Añade un espacio arriba si el texto choca con los puntos */
  padding-top: 105px; 
}

.producto-puntitos {
  position: absolute;/* Saca el elemento del flujo normal de la página y permite ubicarlo exactamente donde se quiera dentro de la caja principal*/
  top: 0;/*Pone los puntos pegados al borde de arriba*/
  right: 0;/*Pone los puntos pegados al borde de la derecha.*/
  cursor: pointer;
}
/*Las principales diferencias entre position: relative; y position: absolute; son el flujo del documento, el elemento de referencia para moverse y el espacio que ocupan*/




/*************EL OTRO HTML***********************/
/*crea el contenido del resumen*/
.resumen-compra {
  width: 350px;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  box-sizing: border-box;
  transform: translateY(20px);
}

/*primera fila donde aparece los productos y el valor*/
.resumen-cabecera{
  display: flex;
  justify-content: space-between;/*separa a los costados */
  align-items: center;
  padding: 12px 0;
  
}

/*segunda fila donde aparece el total y el valor*/
.resumen-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  /* font-weight: bold; */
  font-size: 1.1rem;
  color: #111111;
  border-top: 1px solid #f0f0f0;
  /* margin-top: 8px; */
}

.resumen-acordeon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  font-size: 1.1rem;
  color: #111111;
  border-top: 1px solid #f0f0f0;
}

#btnCompra {
  width: 100%;
  background-color: #403f3f; 
  color: #ffffff;            
  border: none;              
  padding: 12px 24px;        /* Espaciado interno (arriba abajo y los lados) */
  font-size: 16px;           
  font-weight: bold;         
  border-radius: 30px;        
  cursor: pointer;           
  transition: background-color 0.3s ease; /* Efecto suave */
  /* letter-spacing: 1.5px; */
  font-family: Arial, Helvetica, sans-serif;;
}

.btnCompra button:hover {
  background-color: #0056b3;
}
