#grillaProductos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 14px;
  padding: 14px;
  background-color: #b0eac8;
  justify-content: center;/*centra cada producto dentro de cada tarjeta(card)*/
  justify-items: center;/*centra toda la grilla completa */
  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: column; 
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  transition: transform 0.3s ease;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  max-width: 280px;
}

.card:hover{
  transform: translateY(-3px);
}

.card img {
  width: 90%;
  height: 90%;
  object-position: center; /* Centra la imagen */
  transition: transform 0.5s ease; /* Transición suave */
}

.card img:hover {
  transform: scale(1.1); /* Aumenta el tamaño un 10% */
}

/*div padre de titulo categoria precio y rating*/
.info-producto{
  display: flex;               
  flex-direction: column;      
  gap: 40px;                   
  font-family: Arial, sans-serif;
}

.card-titulo{
  font-weight: bolder;
  height: 48px;
}

.card-categoria{
  color: #666; font-size: 0.9em;
}

.card-precio{
  color: #0f766e; font-weight: bold;
}

.card-rating{
  color: #f1c40f;
}

/*ESTILOS CSS PARA EL BOTON AGREGAR AL CARRITO*/
.boton-agregar {
  display: flex;
  justify-content: center; /* Centra el botón */
  align-items: center;
  padding: 15px;
}

.carrito-agregar {
  background-color: #007BFF; 
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 8px; /* bordes redondeados */
  cursor: pointer;
  transition: all 0.3s ease; /*Suaviza los efectos de animación*/
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra  */
}

/* Efecto cuando el usuario pasa el mouse por encima */
.carrito-agregar:hover {
  background-color: #28a745; /* Un tono de azul más oscuro */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra + intensa */
  transform: translateY(-2px); /* se ve un efecto de que se suben se elevan */
  
}

/* Efecto cuando el usuario hace clic */
.carrito-agregar:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
