.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(115, 210, 210);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}



/* INICIO DEL LOGO DE E-COMMERCE */
.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px; /* Espacio entre el ícono y el texto */
    color: #ffffff; /* Color del texto */
    cursor: pointer;
}

/* MOUSE A MANITO */
.navbar-logo h2{
    color: #000; 
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    transition: color 0.3s ease; /* Hace que el cambio de color sea suave */
}

.navbar-logo:hover h2 {
    color: #28a745; 
}
/* FIN A LOGO E-COMMERCE */



/* CARRITO DE SUPERMERCADO */
.navbar-carrito{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.navbar-carrito i {
    font-size: 24px;
    transition: color 0.3s ease;
}

.carrito-contador{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}




